

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
 }



.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(/src/img/wall.png);
    
}



.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #000;
    color: #fff;
    border-bottom: 5px solid #ffd700;
    

}

h2{
    color:#ff0000;
}
.menu__time h2:nth-child(2), .menu__score h2:nth-child(2){
    color: #fff;   
    margin-top: 10px;
}

.panel{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.square{
    height: 150px;
    border: solid 1px #000;
    width: 150px;
    background-color: #42a9e4;
}

.enemy{
    background-image: url(/src/img/ralph.png);
    background-size: cover;
    
}

.menu__lives{
    display: flex;
    align-items: center;
    justify-content: center;
}